<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr class="item">
<% end %>
	<td><%= line_item.quantity %> &times;</td>
	<td><%= line_item.product.title%></td>
	<td class="item_price"><%= line_item.total_price.to_s + " руб." %></td>
	<td class="plus">+</td>
	<td class="minus">-</td>
	<td><%= button_to 'Удалить', line_item, method: :delete, remote: true %></td>
</tr>